body {
  margin: 0;
}

.first-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 560px;
  background-color: rgb(31, 41, 55);
}

.header {
  width: 940px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 100px;
}

.header-logo {
  color: rgb(249, 250, 248);
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

a {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: rgb(229, 231, 235);
}

.content {
  width: 940px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  width: 420px;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: rgb(249, 250, 248);
  margin-bottom: 10px;
}

.info {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: rgb(229, 231, 235);
  margin-bottom: 15px;
}

button {
  background-color: rgb(56, 130, 246);
  color: rgb(249, 250, 248);
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border: none;
  padding: 8px 30px;
  border-radius: 9px;
}

.image-placeholder {
  display: flex;
  width: 500px;
  height: 220px;
  background-color: grey;
  color:rgb(249, 250, 248);
  justify-content: center;
  align-items: center;
}

.second-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 560px;
}

.head {
  width: 940px;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: rgb(31, 41, 55);
  margin-bottom: 50px;
  text-align: center;
}

.some-info {
  width: 940px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-container {
  height: 150px;
  width: 150px;
  border: 5px solid rgb(56, 130, 246);
  border-radius: 20px;
  margin-bottom: 16px;
}

.box-info {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: grey;
}

.third-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: rgb(229, 231, 235);
}

.quote {
  width: 900px;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1F2937;
  text-align: center;
  margin-bottom: 20px;
}

.author {
  width: 900px;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #1F2937;
  text-align: right;
}

.fourth-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.signup-box {
  background-color: rgb(56, 130, 246);
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 90px;
  border-radius: 10px;
}

.main-text {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color:rgb(249, 250, 248);
  margin-bottom: 5px;
}

.secondary-text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color:rgb(249, 250, 248);
  margin-bottom: 5px;
}

.sign-up {
  background-color: transparent;
  color: rgb(249, 250, 248);
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border: 2px solid rgb(249, 250, 248);
  padding: 8px 30px;
  border-radius: 9px;
}

.footer {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(31, 41, 55);
  color: rgb(249, 250, 248);
}